$light-blue: rgb(108, 99, 255);
$very-dark-grayish-blue: rgb(47, 46, 65);
$dark-grayish-violet: rgb(152, 147, 163);
$dark-grayish-violet-alpha: rgb(152, 147, 163, 0.5);
$dark-grayish-blue: rgb(113, 112, 130);
$white: rgb(255, 255, 255);
$gray-white-alpha: rgba(236, 235, 255, 0.3);
$pervanche: rgba(197, 194, 255, 0.502);
$ghost-white: rgb(236, 235, 255);
$purpure: rgb(158, 153, 255);

$red: rgb(255, 0, 0);
$green: rgb(0, 128, 0);
